In [22]:
## Extract Users Evaluation Sample

#  Notebook que extrai amostra de usuários para avaliação

In [2]:
import pandas as pd
import numpy as np

/home/marlesson/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
df_review = pd.read_csv("../data/dataset/yelp_dataset/yelp_academic_dataset_review.csv")
df_review = df_review[df_review["stars"] >= 4]
df_review.head()

,business_id,useful,text,review_id,funny,cool,user_id,date,stars
1,7ATYjTIgM3jUlt4UM3IypQ,1,I've taken a lot of spin classes over the year...,BiTunyQ73aT9WBnpR9DZGw,0,1,OyoGAe7OKpv6SyGZT5g77Q,2012-01-03 15:28:18,5.0
3,kxX2SOes4o-D3ZQBkiMRfA,1,"Wow! Yummy, different, delicious. Our favo...",AqPFMleE6RsU23_auESxiA,0,1,_7bHUi9Uuf5__HHc_Q8guQ,2015-01-04 00:01:03,5.0
4,e4Vwtrqf-wpJfwesgvdgxQ,1,Cute interior and owner (?) gave us tour of up...,Sx8TMOWLNuJBWer-0pcmoA,0,1,bcjbaE6dDog4jkNY91ncLQ,2017-01-14 20:54:15,4.0
6,gmjsEdUsKpj9Xxu6pdjH0g,0,Loved this tour! I grabbed a groupon and the p...,6AxgBCNX_PNTOxmbRSwcKQ,2,0,r3zeYsv1XFBRA4dJpL78cw,2015-01-03 23:21:18,5.0
7,LHSTtnW3YHCeUkRDGyJOyw,2,Amazingly amazing wings and homemade bleu chee...,_ZeMknuYdlQcUqng_Im3yg,0,0,yfFzsLmaWF2d4Sr0UNbBgg,2015-08-07 02:29:16,5.0

In [4]:
df_review.shape

(4684545, 9)

In [5]:
df_bussines = pd.read_csv("../data/dataset/yelp_dataset/yelp_academic_dataset_business.csv")[["business_id", "city"]]
bussines_city = df_bussines.groupby("city").agg({ "business_id": list}).to_dict()["business_id"]

/home/marlesson/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3296: DtypeWarning: Columns (42,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_review_total = df_review\
                    .groupby("user_id").agg(
                      total_reviews = ("business_id", "count")
                    ).reset_index()
df_review_total.head()

                  user_id  total_reviews
0  ---1lKK3aKOuomHnwAkAow              1
1  ---2PmXbF47D870stH1jqA             28
2  ---UgP94gokyCDuB5zUssA              8
3  ---r61b7EpVPkb4UVme5tA              4
4  ---zemaUC8WeJeWKqS6p9Q              1

In [7]:
df_review_with_5 = df_review[df_review['stars'] >= 5]\
                    .groupby("user_id").agg(
                      business_with_5 = ("business_id", list), 
                      total_with_5 = ("business_id", "count")
                    ).reset_index()
df_review_with_5.head()

,user_id,business_with_5,total_with_5
0,---1lKK3aKOuomHnwAkAow,[f19eLfhXqR47Ct8Hz2y_pA],1
1,---2PmXbF47D870stH1jqA,"[hKameFsaXh9g8WQbv593UA, hKameFsaXh9g8WQbv593U...",28
2,---UgP94gokyCDuB5zUssA,"[1NvzccBgS0Xg3MWqN8Hw6Q, hLlDzRaDGN-0SlEWk0xTp...",3
3,---r61b7EpVPkb4UVme5tA,"[5UN1B7XqZohGuULLNlWL1A, bENW5-F2aplQsTdPI8wDB...",3
4,---zemaUC8WeJeWKqS6p9Q,[eX7o_-s5TmDT-DMfTV4cmw],1

In [10]:
df_users = df_review_total\
            .merge(df_review_with_5, on="user_id", how="inner")

# Filter only users with 5 or more reviews
df_users = df_users[df_users['total_reviews'] == 10].sample(1000, random_state=42)
df_users.shape

(1000, 4)

In [11]:
df_users

,user_id,total_reviews,business_with_5,total_with_5
509509,OIoiAfpuBLvOaOh_GfYUzA,10,"[n8HfcZKc2gmoDQkSI3Csag, eFtQDmNER9pRB9YdPxMMX...",7
659484,VlfYvru05K3Wb_5ZxdYozA,10,"[tqBkgu2wyCjYBWuTQoy2aw, RQAF6a0akMiot5lZZnMNN...",4
618903,TkpVKJJeOyOMxXMHlU-YCA,10,"[UoZg0xZepdMXbK_2dtT2nw, q9HeBXQBnXgThOa9DPIhA...",3
717800,YgofLzWGn-6d38BzIwc2LA,10,"[vcyyzUqEiCTSrFmHgqvxpg, tanUYkHZ-nxmZHg5sR7NP...",9
517285,OgP3FQ_VE87kuM5x9ehZBg,10,"[qHEVBsNGYBDEdQeFeeODUQ, i8gh9AV_YLLamNbR2gzEA...",7
...,...,...,...,...
952603,jMOh2wIzW3R6AStpfRJ6fw,10,"[kpK6SmxIiNoGPNhlEGiL4w, 8n-1WtPzdzgxD3st80hAU...",4
262468,C0ZnsRr1b3jAeH991BwVSA,10,"[ZRS0jT6vkyiNuhMbpjUahQ, -Uu4DGZTZPsfffQC2fpsA...",8
216858,9lEzK4VtTKvkMLbwzTnzTw,10,"[s7MaEXwDnzUcqG16pG7Wfg, Wt1W6qwCvna1KzIuJRJbw...",4
333220,FY33Ne629JaSJ90pVHGvvQ,10,"[Hxt8qo2hEraEbxEO9k4TVA, V5KiEoH4E86GA2S3RQkf1...",8
1109367,rB9ZTSc_dVAVQpcM_FNQlg,10,"[YAUUdbESr8BYQ_TFgDjT5Q, YAUUdbESr8BYQ_TFgDjT5...",6

In [12]:
df_eval_review = df_review\
                .groupby("user_id").agg(
                  business_ids = ("business_id", list), 
                  business_total = ("business_id", "count"),
                  business_id = ("business_id", lambda x: x.sample(1).values[0])
                )\
                .merge(df_users, on="user_id", how="inner")\
                .merge(df_bussines, on="business_id", how="inner")\
                .reset_index()

df_eval_review.head()

,index,user_id,business_ids,business_total,business_id,total_reviews,business_with_5,total_with_5,city
0,0,-1BSu2dt_rOAqllw9ZDXtA,"[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",10,XTIc2pKNdmmvX60lIHV0OQ,10,"[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",10,Tampa
1,1,-6DoXmdXEy_P5N-QZzntgA,"[Ifw5wqcChnL4zBigtR7NKA, v1GCQz7ZsntWI-GlGPpvq...",10,wVGeGxHHUMm4EgzAprLKAw,10,"[82gwcD3UmhQ7uwNwkeNKTw, wxJwNCV2oC5Tnan8rzi9i...",3,Newark
2,2,-8NOuak4Sipn7-zy7Nk5hg,"[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",10,rK4MQ-vybY5KXI73o-0mlw,10,"[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",8,Philadelphia
3,3,-8rSnT5ztVk6vmTDkxTqsQ,"[VSjoo6kJ9MU4G0cfO_-CRA, DH-vk-XzWMT9rRLcbBbnU...",10,tMtI6ECD6hwM-nFp2kXLKQ,10,[2OXCAbz3x_MrQSYj1zarIA],1,Philadelphia
4,4,-C7xxeVQI5qEZGAzFdx-cg,"[rXqlpCH6z9rSFNCL76FfLw, WY_dcOTyRA-AgksCXiuYJ...",10,X6FtbFSud63CBCQWG6iDyQ,10,"[rXqlpCH6z9rSFNCL76FfLw, bqR_3sT_rNp0hZglPtX6r...",8,Saint Louis

In [13]:
df_eval_review["business_random"] = df_eval_review["city"].apply(lambda x: list(np.unique(np.random.choice(bussines_city[x], 10, replace=True))))
df_eval_review.head()

,index,user_id,business_ids,business_total,business_id,total_reviews,business_with_5,total_with_5,city,business_random
0,0,-1BSu2dt_rOAqllw9ZDXtA,"[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",10,XTIc2pKNdmmvX60lIHV0OQ,10,"[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",10,Tampa,"[FQ-WkeypAFfg7EQTydO3Mw, L5wbKK1S53IHrOus3TtWk..."
1,1,-6DoXmdXEy_P5N-QZzntgA,"[Ifw5wqcChnL4zBigtR7NKA, v1GCQz7ZsntWI-GlGPpvq...",10,wVGeGxHHUMm4EgzAprLKAw,10,"[82gwcD3UmhQ7uwNwkeNKTw, wxJwNCV2oC5Tnan8rzi9i...",3,Newark,"[0fStimz4EcJk7KsZIc3wyw, 6EtLHUf3Q-lgCFxr96Zab..."
2,2,-8NOuak4Sipn7-zy7Nk5hg,"[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",10,rK4MQ-vybY5KXI73o-0mlw,10,"[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",8,Philadelphia,"[G2oWC7vWPTiTZt--0bUMzA, M6yUUIE8-incodeeJrMpV..."
3,3,-8rSnT5ztVk6vmTDkxTqsQ,"[VSjoo6kJ9MU4G0cfO_-CRA, DH-vk-XzWMT9rRLcbBbnU...",10,tMtI6ECD6hwM-nFp2kXLKQ,10,[2OXCAbz3x_MrQSYj1zarIA],1,Philadelphia,"[31Bd5gl1hbwWfNtiFbVUbw, 7_8IYxOFYh3fsYAcyXVkp..."
4,4,-C7xxeVQI5qEZGAzFdx-cg,"[rXqlpCH6z9rSFNCL76FfLw, WY_dcOTyRA-AgksCXiuYJ...",10,X6FtbFSud63CBCQWG6iDyQ,10,"[rXqlpCH6z9rSFNCL76FfLw, bqR_3sT_rNp0hZglPtX6r...",8,Saint Louis,"[-S9sA-xW1nz7IOxXx0vHQQ, 2YowFoVtjOiZftrCldUyW..."

In [14]:
# join two columns lists in dataframe
import random

df_eval_review["gt_reclist"] = df_eval_review.apply(lambda x: x.business_ids, axis=1)
df_eval_review["user_perfil"] = df_eval_review.apply(lambda x: x.business_ids[0], axis=1)
df_eval_review["reclist"] = df_eval_review.apply(lambda x: x.business_ids[1:-1] + x.business_random, axis=1)
df_eval_review["reclist"] = df_eval_review.apply(lambda x: random.sample(x.reclist, len(x.reclist)), axis=1)
df_eval_review["total_reclist"] = df_eval_review["reclist"].apply(len)
df_eval_review.head()

,index,user_id,business_ids,business_total,business_id,total_reviews,business_with_5,total_with_5,city,business_random,gt_reclist,user_perfil,reclist,total_reclist
0,0,-1BSu2dt_rOAqllw9ZDXtA,"[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",10,XTIc2pKNdmmvX60lIHV0OQ,10,"[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",10,Tampa,"[FQ-WkeypAFfg7EQTydO3Mw, L5wbKK1S53IHrOus3TtWk...","[5XsC0tB8chKjTIW7mU6TnQ, wn4U347OALm5H0MOBRVuR...",5XsC0tB8chKjTIW7mU6TnQ,"[XTIc2pKNdmmvX60lIHV0OQ, GyvtAyCurqFGovXp-tAgs...",18
1,1,-6DoXmdXEy_P5N-QZzntgA,"[Ifw5wqcChnL4zBigtR7NKA, v1GCQz7ZsntWI-GlGPpvq...",10,wVGeGxHHUMm4EgzAprLKAw,10,"[82gwcD3UmhQ7uwNwkeNKTw, wxJwNCV2oC5Tnan8rzi9i...",3,Newark,"[0fStimz4EcJk7KsZIc3wyw, 6EtLHUf3Q-lgCFxr96Zab...","[Ifw5wqcChnL4zBigtR7NKA, v1GCQz7ZsntWI-GlGPpvq...",Ifw5wqcChnL4zBigtR7NKA,"[QB0NhiW--2rje9Fr1ek2eA, o4IiNbNybcy-L4vzTSoDJ...",18
2,2,-8NOuak4Sipn7-zy7Nk5hg,"[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",10,rK4MQ-vybY5KXI73o-0mlw,10,"[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",8,Philadelphia,"[G2oWC7vWPTiTZt--0bUMzA, M6yUUIE8-incodeeJrMpV...","[OKPUO8zvBBL-OA6-SfDx8Q, OHplb2m_dKPXY46mS0CqJ...",OKPUO8zvBBL-OA6-SfDx8Q,"[M6yUUIE8-incodeeJrMpVQ, fw6PlWy2ghCzuUH24p9U5...",18
3,3,-8rSnT5ztVk6vmTDkxTqsQ,"[VSjoo6kJ9MU4G0cfO_-CRA, DH-vk-XzWMT9rRLcbBbnU...",10,tMtI6ECD6hwM-nFp2kXLKQ,10,[2OXCAbz3x_MrQSYj1zarIA],1,Philadelphia,"[31Bd5gl1hbwWfNtiFbVUbw, 7_8IYxOFYh3fsYAcyXVkp...","[VSjoo6kJ9MU4G0cfO_-CRA, DH-vk-XzWMT9rRLcbBbnU...",VSjoo6kJ9MU4G0cfO_-CRA,"[3zK9LTY3TgH7nU18-dnXtA, DH-vk-XzWMT9rRLcbBbnU...",18
4,4,-C7xxeVQI5qEZGAzFdx-cg,"[rXqlpCH6z9rSFNCL76FfLw, WY_dcOTyRA-AgksCXiuYJ...",10,X6FtbFSud63CBCQWG6iDyQ,10,"[rXqlpCH6z9rSFNCL76FfLw, bqR_3sT_rNp0hZglPtX6r...",8,Saint Louis,"[-S9sA-xW1nz7IOxXx0vHQQ, 2YowFoVtjOiZftrCldUyW...","[rXqlpCH6z9rSFNCL76FfLw, WY_dcOTyRA-AgksCXiuYJ...",rXqlpCH6z9rSFNCL76FfLw,"[6aDmYbqNKeWn9tynvFQa-w, nMHM74eFQuJyS_a7EVV1z...",18

In [17]:
df_eval_review[["user_id", "user_perfil", "gt_reclist", "reclist"]]\
  .to_csv("../data/evaluation/eval_users.csv", index=False)